.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.productMainContainer {
  padding: 26px;
}

.productContainer {
  display: flex;
  justify-content: space-around;
}

.productItemContainer {
  flex: 1;
  margin-bottom: 50px;
}

.productIteamInner {
  justify-content: space-around;
  margin-left: 12px;
}

.productIteamInner .productDeatilContainer {
    padding-top: 10px;
}
.productIteamInner .productDeatilContainer p{
  font-size:14px;
  flex-wrap: wrap;
}

.productIteamInner .productDeatilContainer a {
  color: black;
  text-decoration: none;
}

.ReactModalPortal .carousel .slide img {
  max-width: 363px;
}

.carousel .thumbs {
  display: none;
}

.carousel .close {
    position: absolute;
    top: 75px;
    right: 35px;
    color: black;
    font-size: 60px;
    font-weight: bold;
    transition: 0.3s;
    border: solid 1px red;
}

.ReactModalPortal .legend {
  display: none;
}

@media only screen 
and (max-width : 768px) {
    .productContainer {
      flex-direction: column;
    }
    .productIteamInner .imageContainer {
      width: auto;
    }
}

@media only screen 
and  (max-width : 375px) {
  .productIteamInner .imageContainer img{
      width: 270px;
      height: 270px;
  }

  .productMainContainer {
     padding: 15px;
  }
  .productIteamInner .productDeatilContainer {
    width: 270px;
  }
}

@media only screen 
and  (max-width : 812px) {

  .productContainer {
    flex-direction: column;
  }
  
  .ReactModal__Content{
    /*top:70%;*/
  }
}

@media only screen 
and  (max-width : 1024px) {

  .productContainer {
    flex-direction: column;
  }
  
}

